body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#graph-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* D3 Elements */
.node circle {
  stroke: #fff;
  stroke-width: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.node:hover circle {
  stroke: #333;
  stroke-width: 3px;
}

.node text {
  font-size: 12px;
  pointer-events: none; /* Let mouse events pass through text to the circle */
  text-anchor: middle;
  font-weight: 500;
  fill: #333;
  text-shadow:
    1px 1px 1px white,
    -1px -1px 1px white;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1.5px;
}

/* Tooltip Style */
.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 10;
}

/* Legend Dots */
.legend-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

em {
  font-size: 0.9em;
  font-style: normal !important;
  color: grey;
}
